@page "/"
@page "/index"
@inject IJSRuntime jsRuntime

<NavMenu />

<About />

<Resume />

<Services />

<Portfolio />

<Contact />

<div class="credits">
    Designed by <a href="javascript:void(0)">Pranil Tunga</a>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/vendor/jquery/jquery.min.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/vendor/bootstrap/js/bootstrap.bundle.min.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/vendor/jquery.easing/jquery.easing.min.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/vendor/waypoints/jquery.waypoints.min.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/vendor/counterup/counterup.min.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/vendor/owl.carousel/owl.carousel.min.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/vendor/isotope-layout/isotope.pkgd.min.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/vendor/venobox/venobox.min.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/js/main.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/js/dots.js");
        await jsRuntime.InvokeVoidAsync("loadScript", "/assets/js/custome.js");
        await base.OnAfterRenderAsync(firstRender);
    }
}