<!-- ======= Header ======= -->
<header id="header" class="header-tops">

    <canvas id="canvas"></canvas>

    <div class="container" style="z-index:1000 !important;">
        <h1>
            <a href="javascript:void(0)" onclick="window.location.href = '/';" style="text-shadow: 4px 3px rgba(0,0,0,0.7);">Pranil Tunga</a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>I'm a passionate <span>Web Developer</span> from India</h2>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active">
                    <a href="javascript:void(0)" onclick="window.location.href = '/';" canvas="true">Home</a>
                </li>
                <li><a href="#about" canvas="false">About</a></li>
                <li><a href="#resume" canvas="false">Resume</a></li>
                <li><a href="#services" canvas="false">Services</a></li>
                @*<li><a href="#portfolio" canvas="false">Portfolio</a></li>*@
                <li><a href="#contact" canvas="false">Contact</a></li>
            </ul>
        </nav><!-- .nav-menu -->

        <div class="social-links">
            <a target="_blank" href="https://twitter.com/pranilism" class="twitter"><i class="icofont-twitter"></i></a>
            <a target="_blank" href="https://www.facebook.com/pranilism" class="facebook"><i class="icofont-facebook"></i></a>
            <a target="_blank" href="https://stackoverflow.com/users/11372040/pranil-tunga" class="instagram"><i class="icofont-stack-overflow"></i></a>
            <a target="_blank" href="https://github.com/pranilism" class="google-plus"><i class="icofont-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/pranil-tunga-b99456135" class="linkedin"><i class="icofont-linkedin"></i></a>
        </div>

    </div>
</header><!-- End Header -->