<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Pranil Tunga</h4>
                    <p><em>Innovative and deadline-driven coding with 1.5+ years of experience in designing and developing Websites and Web Applications from initial concept to final, polished deliverable.</em></p>
                    <p>
                        <ul>
                            <li>Kalekar Building, Navi peth, Solapur, MH, India</li>
                            <li>+91 77 44 923 184</li>
                            <li>praniltunga@gmail.com</li>
                        </ul>
                    </p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Master of Computer Applications</h4>
                    <h5>2019 - Running</h5>
                    <p><em>University of Solapur, MH, India</em></p>
                    <p>Persuing the master of computer application (MCA) degree, for the sake of betterment and knowledge gain. Empowering my knowledge by learning the newer technologies.</p>
                </div>
                <div class="resume-item">
                    <h4>Bachelor of Computer Science</h4>
                    <h5>2016 - 2019</h5>
                    <p><em>Sangameshwar College, Solapur, MH, India</em></p>
                    <p>Completed my bachelor's degree from the Sangameshwar college, Solapur with 'A' Grade and 9.83 CGPA. Learned lots of things and started the beautiful journey of coding from here.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Web Developer</h4>
                    <h5>2019 - Present</h5>
                    <p><em>Solapur, MH, India </em></p>
                    <p>
                        <ul>
                            <li>
                                Web Developer with dynamic experience having knowledge in ASP.Net, MVC, LINQ, Reporting, ADO.NET, MS-SQL, MySQL, J-Query, AJAX, having additional knowledge of Node.js and Angular.
                            </li>
                            <li>
                                Responsible for building scalable api endpoints for the various applications using Node.js and dotnet core with proper authorization and authentication mechanism.
                            </li>
                            <li>
                                Experienced in developing Web Applications.
                            </li>
                            <li>
                                Actively involved in documentation, programming and database designing.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Freelancer</h4>
                    <h5>2017 - 2019</h5>
                    <p><em>Solapur, MH, india</em></p>
                    <p>
                        <ul>
                            <li>Developed dynamic Web Applications for the several clients from my region to empower the local bussinesses.</li>
                            <li>Successfully developed and published the websites for the clients to provide the face to their bussiness and to grow their bussiness on digital platforms.</li>
                            <li>
                                Successfully completed the Virtual Lab Experiment for IIT Bombay and became the Silver Certified Developer.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->