<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>What I Offer ?</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon">
                        <i class="flaticon-computer"></i>
                    </div>
                    <h4><a href="">Responsive Design</a></h4>
                    <p style="text-align: justify;">
                        Nowdays, if we look over 75% to 90% people uses browsers to view any kind of website, so it is very much important to bring the mobile friendly look to the website, I provide this out of the box, I prefer mobile first approch while development.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon">
                        <i class="flaticon-fix"></i>
                    </div>
                    <h4><a href="">Browser Support</a></h4>
                    <p style="text-align: justify;">
                        While development i personally prefer to bring the cross browser support which tends to the better and common look across multiple browsers, this aproach includes the cross browser testing & debugging with compatibility of multiple browsers like chrome, firefox, safari, etc.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon">
                        <i class="flaticon-team"></i>
                    </div>
                    <h4><a href="">User Friendly</a></h4>
                    <p style="text-align: justify;">
                        Nowdays, the website is said to be ideal if it is easy to handle and simple to operate, so to perform this the strong ui/ux logics and ethics needs to be include in the website or in web applications. I provide the user friendly design and look to the website.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->